<div id="content"></div>

<script>
  window.PizzaTime = window.PizzaTime || {};
  var mapMarkersRed = [
    "<%= image_url("1_red.png") %>",
    "<%= image_url("2_red.png") %>",
    "<%= image_url("3_red.png") %>",
    "<%= image_url("4_red.png") %>",
    "<%= image_url("5_red.png") %>",
    "<%= image_url("6_red.png") %>",
    "<%= image_url("7_red.png") %>",
    "<%= image_url("8_red.png") %>",
    "<%= image_url("9_red.png") %>",
    "<%= image_url("10_red.png") %>"
  ];

  var stars = [
    "<%= image_url("1-star.png") %>",
    "<%= image_url("2-stars.png") %>",
    "<%= image_url("3-stars.png") %>",
    "<%= image_url("4-stars.png") %>",
    "<%= image_url("5-stars.png") %>",
  ]

  var mapMarkersBlack = [
    "<%= image_url("1_black.png") %>",
    "<%= image_url("2_black.png") %>",
    "<%= image_url("3_black.png") %>",
    "<%= image_url("4_black.png") %>",
    "<%= image_url("5_black.png") %>",
    "<%= image_url("6_black.png") %>",
    "<%= image_url("7_black.png") %>",
    "<%= image_url("8_black.png") %>",
    "<%= image_url("9_black.png") %>",
    "<%= image_url("10_black.png") %>"
  ];

  var sprites = {
    dropdown: "<%= image_url("dropdown-arrow-sprite.png") %>",
    star_filled: "<%= image_url("star-filled.png") %>",
    star_unfilled: "<%= image_url("star-unfilled.png") %>",
    camera: "<%= image_url("camera.png") %>"
  };

  window.PizzaTime.imageUrls = {
    mapMarkersRed: mapMarkersRed,
    mapMarkersBlack: mapMarkersBlack,
    sprites: sprites,
    stars: stars
  };
</script>
