<% if current_user %>
  <h1 YOU ARE LOGGED IN AS <%= current_user.email %></h1>
<% end %>

<h2>Sign In</h2>

<%= form_for(@user, url: session_url) do |f| %>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>
