<h2>Sign Up</h2>

<%= form_for @user do |f| %>
  Email: <%= f.text_field :email %><br>
  First Name: <%= f.text_field :firstname %><br>
  Last Name: <%= f.text_field :surname %><br>
  Zip Code: <%= f.text_field :zip %><br>
  Password: <%= f.password_field :password %><br>
  Confirm Password: <%= f.password_field :password_confirmation %><br>
  <%= f.submit %>
<% end %>
