<!DOCTYPE html>
<html>
<head>
  <title>PizzaTime</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtWSyfoRMRNIZPE2_IiV8EXIHJ0hvUWAA">
  </script>
</head>
<body>

<%= flash.now[:errors].join("<br>".html_safe) if flash.now[:errors] %>

<%= yield %>

</body>
</html>
